{% extends 'base.html' %}

{% block body %} 
<div class="container mx-auto mt-8 px-4 sm:px-6 lg:px-8">
    <form method="post" class="space-y-8 divide-y divide-gray-200">
        <div class="space-y-8 divide-y divide-gray-200">
      
          <div class="pt-8">
            <div>
              <h3 class="text-lg leading-6 font-medium text-gray-900">Personal Information</h3>
              <p class="mt-1 text-sm text-gray-500">Use a permanent address where you can receive mail.</p>
            </div>
            <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
              <div class="sm:col-span-3">
                <label for="firstname" class="block text-sm font-medium text-gray-700"> First name </label>
                <div class="mt-1">
                  <input type="text" name="firstname" id="firstname" autocomplete="given-name" 
                  value={{ student.firstname }}
                  class="p-1.5 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md">
                </div>
              </div>
      
              <div class="sm:col-span-3">
                <label for="lastname" class="block text-sm font-medium text-gray-700"> Last name </label>
                <div class="mt-1">
                  <input type="text" name="lastname" id="lastname" autocomplete="family-name"
                  value={{ student.lastname }}
                  class="p-1.5 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md">
                </div>
              </div>
      
              <div class="sm:col-span-3">
                <label for="email" class="block text-sm font-medium text-gray-700"> Email address </label>
                <div class="mt-1">
                  <input id="email" name="email" type="email" autocomplete="email"
                  value={{ student.email }}
                  class="p-1.5 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md">
                </div>
              </div>

              <div class="sm:col-span-3">
                <label for="age" class="block text-sm font-medium text-gray-700"> Age </label>
                <div class="mt-1">
                  <input type="number" name="age" id="age" autocomplete="age"
                  value={{ student.age }} 
                  class="p-1.5 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md">
                </div>
              </div>
      
      
              <div class="sm:col-span-6">
                <label for="about" class="block text-sm font-medium text-gray-700"> About </label>
                <div class="mt-1">
                  <textarea id="about" name="about" rows="3" class="p-1.5 block w-full sm:text-sm shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border border-gray-300 rounded-md">{{ student.about }}</textarea>
                </div>
                <p class="mt-2 text-sm text-gray-500">Write a few sentences about yourself.</p>
              </div>

            </div>
          </div>
      
        </div>
      
        <div class="pt-5">
          <div class="flex justify-end">
            <a href="/">
                <button type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Cancel</button>
            </a>
            <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
          </div>
        </div>
      </form>
</div>

{% endblock %}